  /* Hide scrollbar for all browsers except Firefox */
@import url('https://fonts.cdnfonts.com/css/earthbound?styles=41024');
@import url('https://fonts.cdnfonts.com/css/vcr-osd-mono');

body::-webkit-scrollbar {
  display: none;
}

.debug {
  border-width: 2px;
  border-style: solid;
  border-right-color: red;
}
  
.loading {
  display: none;
}

body {
  background-color:#1f1f1f !important;
  font-family: 'VCR OSD Mono', sans-serif;
}

@keyframes title-shrink {
  to {
    font-size: 16px;
    line-height: 10%;
    margin-top: 8px;
    p {
      opacity: 50%;
    }
  }
}
@keyframes title-shrink-child {
  to {
  height: 0px;
  margin-top: 0.3rem;
  padding-top: 0rem;
  font-size: 8px;
  opacity: 50%;
  }
}

header h1 {
  line-height: 20%;
  margin-top: 35px;
  position: relative;
  animation: title-shrink;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
header h1 div {
  margin: 0px;
  overflow: hidden;
  height: 1rem;
  margin-top: 0.8rem;
  padding-top: 0.2rem;
  font-size: 16px;
  animation: title-shrink-child;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

header {
  top: 0px;
  left: 0px;
  z-index: 20 !important;
}

@keyframes fadein {
  0% {
    background-position: 100% 0%;
    margin-top: 0px;
    margin-bottom: 230px;
    opacity: 0%;
  }
  100%{
    background-position: 100% 100%;
    margin-top: 230px;
    margin-bottom: 0px;
    opacity: 100%;
  }
}

.tab_container {
  font-family: 'Earthbound', sans-serif;
  text-align: center;
  padding: 6px 12px;
  border-top: none;
  color :white;
  margin-top: 230px;
  background: linear-gradient(200deg, transparent, transparent 40%, rgba(200, 0, 255, 0.25) 45%, #dad3d0 60%, #ececec 100%); 
  background-size: 100% 300%;
  background-position: 100% 100%;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation-name: fadein;
  animation-duration: 1.8s;
  font-size: 20px;
  line-height: 1.3rem;
}

.hidden {
  display: none !important;
}

.danger-stripe {
  background: repeating-linear-gradient(
  -45deg,
  #babf2d,
  #babf2d 30px,
  #000000 10px,
  #000000 60px
);
}

.tabs {
  display: inline-block;
  height: 0px;
}

.tablink {
  text-shadow: 0px 2px 2px rgb(0, 0, 0);
  text-decoration: none;
  background-color: #44444400;
  border: none;
  position:relative;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  float: left;
  margin: -3px 3px;
  transform: translateY(0px);
  transition: transform, background-color 0.4s;
  transition:  0.4s;
} .tablink:hover {
  background-color: #cecece62;
} .tablink_active:hover {
  background-color: #1f1f1f;
} .tablink_active {
  background-color: #1f1f1f;
  transform: translateY(8px);
}

@keyframes bgmove {
  0% {
    background-position: 0% 0%;
  }
  100%{
    background-position: 2000% 0%;
  }
}

.slideshow-colors { 
  background-color: #333;
  background-image: linear-gradient(45deg,
  rgb(11, 11, 11),
  #333,
  rgb(11, 11, 11),
  rgb(76, 10, 77),
  rgb(45, 34, 34),
  rgb(100, 60, 0),
  rgb(11, 11, 11));
  background-size: 2000% 100%;
  background-position: 0% 0%;
  color: #fff;
  text-align: center;
  padding: 1px;
  position: fixed;
  width: 100%;
  animation: bgmove 500s linear infinite;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
  position: relative;
  width: 100%;
  left: -8px;
  bottom: -8px;
  height: 32px;
  margin-top: 680px;
}

nav {
  background-color: #444;
  color: #fff;
  padding: 0.5em;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  /* margin-right: 10px; */
  margin: 0px 10px;
}
nav a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}
nav a:hover {
  background-color: #666;
}


.tippedtext {
  text-decoration: none;
  color: #565656 !important;
  margin-left: 5px;
}
.tippedtext:hover {
  text-decoration: underline;
}

.tip {
  visibility: hidden;
  opacity: 0%;
  transition: 0.4s;
  position: absolute;
  transform: translate(-12rem, 24px);
  background-color: #323232;
  color: #cfcfcf;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 4px;
  max-width: 400px;
  border-radius: 4px;
  z-index: 200;
}

.tip img {
  height: 2rem;
  margin-top: 5px;
}

.tippedtext:hover .tip {
  visibility: visible;
  opacity: 90%;
}














/* game stuff */
img { 
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */

}

.game-screen {
  background-color: var(--color);
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 700px;
  height: 560px;
  z-index: 10;
  transition: 5s;
  box-shadow: 0px 0px 5px var(--color);
  border-radius: 1px;
  border-width: 6px;
  border-style: ridge;
  border-color: #ffffff78;
} .game-screen:focus {
  box-shadow: 0px 0px 80px var(--color);
}

canvas {
  image-rendering: pixelated;
  image-resolution: 256px 204px;
}

.blur {
  background-color: transparent;
  backdrop-filter: blur(0px);
  position:fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 5;
  transition: 1s;
}
body:has(.game-screen:focus) .blur {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.338);
  transition: 5s;;
}

@media (orientation: landscape) {
  
}

@media (pointer: coarse) {
  
}
















.story_type {
  cursor: pointer;
  width: 13rem; height: 13rem; margin: 2rem;
  background:unset;
  color:unset;
  -webkit-text-fill-color: black;
  background-clip: unset;
  animation-name: unset;
  animation-duration: unset;
  text-align: center;
  border-radius: 4px;
  transition: 0.4s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.444);
  user-select: none;
}

.story_type:hover {
  transition: 0.6s;
  width: 14rem; height: 14rem; margin: 1.46rem;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.737);
}




.story_board {
  background-color: #ececec;
  border-radius: 32px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  color:#1f1f1f;
  height: 200px; width: 666px;
  margin-top: 66px;
  margin-left: 0px;
  user-select: none;
  transition: 0.8s;
  cursor: pointer;
  overflow: hidden;
}

.story_board div div {
  line-height: 20px;
  font-size: 14px;
  width: 100%;
}

.story_board div div p {
  color: white !important;
  background-color: rgb(234, 111, 67);
  display: inline;
  border-radius: 12px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 1px;
  margin-left: 5px;
}

#g p {
  background-color: rgb(96, 96, 212);
}

.story_board #sum {
  border-radius: 8px;
  padding-left: 4px;
  width: 450px;
}

.story_board a, .story_board a:visited {
  color:#1f1f1f;
}

.story_board:hover {
  transition: 0.4s;
  height: 200px; width: 777px;
  border-radius: 42px;
}