  /* Hide scrollbar for all browsers except Firefox */
body::-webkit-scrollbar {
  display: none;
}

html, body {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}

#image {
  width: 400;
  height: 70;
  background-image: image-set("web_logo.png")
}

#tri {
  width: 0;
  height: 0;
  border-top-width: 20px;
  border-top-style: solid;
  border-top-color: transparent;
  border-right-width: 20px;
  border-right-style: solid;
  border-right-color: red;
}
  
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color:#1f1f1f;
}

/* @keyframes fadein {
  0% {mask-image: linear-gradient(rgba(0, 0, 0, 0),  black 100%);
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0),  black 100%);
  margin-top: 150px;}
  100%{mask-image: linear-gradient(rgba(0, 0, 0, 100),  black 100%);
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 100),  black 100%);
  margin-top: 200px;}
} */


@keyframes image-shrink {
  to{
    width: 200px;
    height: 56px;
    padding-bottom: 4px;
  }
}
.title_image {
  width: 400px;
  height: 70px;
  padding-bottom: 20px;
  animation: image-shrink linear both;
  animation-timeline: scroll();
  animation-range: 0px 400px;
}

@keyframes title-shrink {
  to {
    font-size: 16px;
    line-height: 10%;
    top: 5%;
  }
}

#dynamic_title {
  font-size: 36px;
  line-height: 20%;
  top: 20%;
  margin-top: 35px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: title-shrink linear both;
  animation-timeline: scroll();
  animation-range: 0px 400px;
}

@keyframes fadein {
  0% {
    background-position: 100% 0%;
    margin-top: 180px;
  }
  100%{
    background-position: 100% 100%;
    margin-top: 330px;
  }
}

.tab_container {
  text-align: center;
  padding: 6px 12px;
  /* border: 1px solid #ccc; */
  border-top: none;
  /* color: rgb(224, 218, 230); */
  color :white;
  margin-top: 330px;
  background: linear-gradient(200deg, transparent, transparent 40%, rgba(200, 0, 255, 0.25) 45%, #ececec 60%, #ececec 100%); 
  background-size: 100% 300%;
  background-position: 100% 100%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation-name: fadein;
  animation-duration: 1.8s;
  text-align: center;
  font-size: 20px;
  line-height: 5px;
}

.hidden {
  display: none !important;
}

.tab_row {
  background: repeating-linear-gradient(
  -45deg,
  #babf2d,
  #babf2d 30px,
  #000000 10px,
  #000000 60px
);
}

.tabs {
  align-items: center;
  display: inline-block;
  height: 0px;
}

.tablink {
  text-shadow: 0px 2px 2px rgb(0, 0, 0);
  text-decoration: none;
  background-color: #44444400;
  border: none;
  position:relative;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  float: left;
  margin: -3px 3px;
  transform: translateY(0px);
  transition: transform, background-color 0.4s;
  transition:  0.4s;
}

.tablink:hover {
  background-color: #cecece62;
}

.tablink_active:hover {
  background-color: #1f1f1f;
}

.tablink_active {
  background-color: #1f1f1f;
  transform: translateY(10px);
}

.fixed {
  position: fixed;
}

.space { margin-top: 300px; }

@keyframes bgmove {
  0% {
    background-position: 0% 0%;
  }
  100%{
    background-position: 2000% 0%;
  }
}

header { 
  background-color: #333;
  background-image: linear-gradient(45deg, rgb(11, 11, 11), #333, rgb(11, 11, 11), rgb(42, 0, 71), rgb(11, 11, 11), rgb(60, 0, 60), rgb(11, 11, 11));
  background-size: 2000% 100%;
  background-position: 0% 0%;
  color: #fff;
  text-align: center;
  padding: 1px;
  position: fixed;
  width: 100%;
  animation: bgmove 500s linear infinite;
}

@keyframes footerfix {
  0% {
    margin-top: 6080px;
  }
  100% {
    margin-top: 680px;
  }
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
  position: relative;
  width: 100%;
  bottom: 0;
  height: 32px;
  margin-top: 680px;
  animation: footerfix 0.5s;
}

nav {
  background-color: #444;
  color: #fff;
  padding: 0.5em;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  /* margin-right: 10px; */
  margin: 0px 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #666;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}