
/* hide page scrollbar */
html { scrollbar-width: none; } /* Firefox */
body { -ms-overflow-style: none; } /* IE and Edge */
body::-webkit-scrollbar, body::-webkit-scrollbar-button { display: none; } /* Chrome */
/* end hide page scrollbar */

.crt {
  background-color: #332924;

  font-size: 50px;
}

body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

.scroller {
  margin-bottom: 90px;
}

.fixed {
  --color: #ffff00;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  z-index: 999;

  /* background-image: linear-gradient(to top, #333333, var(--color), #333333, #333333);
  background-size: 100% 4px; */
  background-color: var(--color);

  font-family: "VT323", sans-serif !important;
  font-style: normal;
  /* text-shadow: 0 0 10px #ffff0099; */
  color: black;
  font-family: "Courier New", monospace;
  font-size: 32px;
  /* background-clip: text; */
    /* -webkit-background-clip: text; */
  
}

.crt-outline {
  --color: #ffff00;
  border-width: 3px;
  border-color: var(--color);
  border-style: dashed;
  font-family: "VT323", sans-serif !important;
  font-style: normal;
  padding: 10px;
  font-size: 28px;
  padding-left: 10px;
  margin: 4px;
}

.crt-text {
  --color: #ffff00;
  /* background-image: linear-gradient(to top, var(--color), var(--color), #333333, #333333);
  background-size: 100% 3px; */

  font-family: "VT323", sans-serif !important;
  font-style: normal;
  display: inline;
  /* text-shadow: 0 0 10px #ffff0099; */
  color: var(--color);
  /* font-family: "Courier New", monospace; */
  font-size: 28px;
  background-clip: text;
    -webkit-background-clip: text;
}

.horizontal {
  background-color: blue;
  display: flex;
  width: 100% !important;
  height: 100%;
  flex-direction: row; /* this is default, so optional */
}

.vertical {
  display: flex;
  
  /* min-height: 100vh; */
  flex-direction: column; /* stack vertically */
}


.crt-image {
  background-image: linear-gradient(to top, #ffff00, #ffff00, #ffff00, #ffff00);
  background-size: 100% 3px;

  width: 500px;
  height: 500px;
  mask-image: url();
  mask-size: contain; /* or cover, or specific size */
  mask-repeat: no-repeat;
  mask-position: center;
}
