
.crt {
  background-image: linear-gradient(to top, #000000, #000000, #332924, #333333);
  background-size: 100% 3px;

  
  color: transparent;
  font-size: 50px;
  background-clip: text;
    -webkit-background-clip: text;
}

body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

.scroller {
  margin-bottom: 90vh;
}

.fixed {
  --color: #ffff00;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  z-index: 999;

  background-image: linear-gradient(to top, var(--color), var(--color), #333333, #333333);
  background-size: 100% 3px;

  font-family: "VT323", sans-serif !important;
  font-style: normal;
  /* text-shadow: 0 0 10px #ffff0099; */
  color: black;
  font-family: "Courier New", monospace;
  font-size: 32px;
  /* background-clip: text; */
    /* -webkit-background-clip: text; */
  
}

.crt-outline {
  --color: #ffff00;
  border-width: 2px;
  border-color: var(--color);
  border-style: dashed;
  font-family: "VT323", sans-serif !important;
  font-style: normal;
  padding: 10px;
  font-size: 28px;
  padding-left: 10px;
  margin: 4px;
}

.crt-text {
  --color: #ffff00;
  background-image: linear-gradient(to top, var(--color), var(--color), #333333, #333333);
  background-size: 100% 3px;

  font-family: "VT323", sans-serif !important;
  font-style: normal;
  display: inline;
  /* text-shadow: 0 0 10px #ffff0099; */
  color: transparent;
  /* font-family: "Courier New", monospace; */
  font-size: 28px;
  background-clip: text;
    -webkit-background-clip: text;
}

.horizontal {
  background-color: blue;
  display: flex;
  width: 100% !important;
  height: 100%;
  flex-direction: row; /* this is default, so optional */
}

.vertical {
  display: flex;
  
  min-height: 100vh;
  flex-direction: column; /* stack vertically */
}

.crt-glow {
  --color: #ffff00;
  filter: drop-shadow(0 0 10px var(--color));
  /* You can stack multiple drop-shadows for stronger glow! */
}
.crt-image {
  background-image: linear-gradient(to top, #ffff00, #ffff00, #333333, #333333);
  background-size: 100% 3px;

  width: 500px;
  height: 500px;
  mask-image: url();
  mask-size: contain; /* or cover, or specific size */
  mask-repeat: no-repeat;
  mask-position: center;
}
